/*Nav*/
.bg-grad, .btn-grad{
    background-color: rgb(199, 151, 40);
    background-image:linear-gradient(to right,lightblue,rgb(89, 210, 121),lightblue);
}
.nav-link:hover{
    color:white !important;
}

/*Carousel*/
.imgCar{
    max-block-size:450px;
    min-block-size:270px
}

/*Cards*/
.card-img-top{
    height: 15rem;
}
.card-img-bottom{
    height: 20rem;
}

/*Estilo da fonte*/
.fontstyle,.card-title{
    font-family: 'papyrus';
    font-weight: bold;
}